{
  "env": {
    "node": true,
    "commonjs": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": [
    "eslint:recommended",
    "plugin:sonarjs/recommended",
    "prettier"
  ],
  "rules": {
    "sonarjs/no-duplicate-string": "off",
    "sonarjs/cognitive-complexity": "warn"
  },
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "coverage/",
    "packages/mock-test-kit-core"
  ]
}
